# dependencies
node_modules/

# next.js build
.next/
out/
build/
dist/

# environment files (IMPORTANT)
.env
.env.*

# logs
*.log

# vercel
.vercel

# editor (VS Code)
.vscode/*
!.vscode/extensions.json

# misc
.DS_Store

# custom scripts
temp_auto_push.bat
temp_interactive_push.bat